<%= render "shared/second_navbar" %>
<br>
<div class="container">
<% if current_user.admin == true %>
       <%= link_to "Volver a la página principal", root_path, class: "btn btn-light mt-5" %>
       <%= link_to "Agregar un nuevo producto a la página", new_product_path, class: "btn btn-light mt-5" %>
       
       <div class="my-5">
              <h2 class="text-center">Graficos ventas esta última semana</h2>
              <%= column_chart @sales, label: "Ventas", xtitle: "Dias", ytitle: "Ventas", colors: ["#98FB98", messages: {empty: "No hay datos"}] %>

              <h2 class="text-center">Gráfico usuarios nuevos esta última semana</h2>
              <%= column_chart @new_users, label: "Usuarios", xtitle: "Dias", ytitle: "Usuarios", colors: ["#98FB98", messages: {empty: "No hay datos"}] %>
       </div>

       <h2 class="text-center my-5">Listado de peticiones</h2>
       <table class="table">
              <thead>
                     <th>Contacto</th>
                     <th>Petición</th>
                     <th>Eliminar</th>
              </thead>
              <tbody>
                     <% @contacts.each do |contact| %>
                     <tr>
                            <td><%= contact.email %></td>
                            <td><%= contact.text %></td>
                            <td><%= link_to '<h4 class="fas fa-trash-alt"></i></h4>'.html_safe, contact_path(contact), method: :delete, data: {confirm: "¿Desea eliminar esta peticion?"}, class: "dasboard-icon" %></td>
                     </tr>
                     <%end%>
              </tbody>
       </table>

       <h2 class="text-center my-5">Listado de productos</h2>
       <table class="table">
              <thead>
                     <th>Nombre</th>
                     <th>Descripcion</th>
                     <th>Precio</th>
                     <th colspan="3">Administrar</th>
              </thead>
              <tbody>
                     <% @products.each do |product| %>
                     <tr>
                            <td> <%= product.name %> </td>
                            <td> <%= product.description %> </td>
                            <td> <%= product.price %> </td>
                            <td> <%= link_to '<h4 class="fas fa-trash-alt"></i></h4>'.html_safe, product, method: :delete, data: {confirm: "¿Seguro desea eliminar este producto?"}, class: "dasboard-icon" %> </td>
                            <td> <%= link_to "Editar producto", edit_product_path(product)%> </td>
                     </tr>
                     <%end%>
              </tbody>
       </table>

       <h2 class="text-center my-5">Listado de usuarios</h2 >
       <table class="table">
              <thead>
                     <th>Nombre</th>
                     <th>Direccion</th>
                     <th>Correo</th>
                     <th>Rol</th>
                     <th>Eliminar</th>
                     <th>Permisos</th>
              </thead>
              <tbody>
                     <% @users.each do |user| %>
                     <tr>
                            <td> <%= user.name %> </td>
                            <td> <%= user.address %> </td>
                            <td> <%= user.email %> </td>
                            <% if user.admin == true %>
                            <td> Administrador </td>
                            <%else%>
                            <td> Usuario</td>
                            <%end%>
                            <td> <%= link_to  '<h4 class="fas fa-user-times"></i></h4>'.html_safe , delete_user_path(user), method: :delete, data: {confirm: "Seguro desea eliminar este usuario?"}, class: "dasboard-icon" %> </td>
                            <td> <%= link_to '<h4 class="fas fa-user-cog"></i></h4>'.html_safe , become_admin_path(user), class: "dasboard-icon" %> </td>
                     </tr>
                     <%end%>
              </tbody>
       </table>
<% else %>
       <br>
       <br>
       <h1>No tienes autorizacion para estar aca</h1>
       <p class="text-muted">Regresa a la página principal con este link</p>
       <%= link_to "Volver",root_path,  class: "btn btn-light" %>
<%end%>
</div>