
<%= render "shared/navbar" %>
<br>

<div class="container text-center" id="inicio">
<%= image_tag "Logo.jpg", id: "logo" %>
</div>

<!--Links de instagram y dashboard-->
<div id="instagram">
       <a href="https://www.instagram.com/guarapitadulce/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
</div>
<% if user_signed_in? %>
       <% if current_user.admin == true %>
              <div id="admin">
                     <a href="/dashboard"><i class="fas fa-user-shield fa-2x"></i></a>
              </div>
       <%end%>
<%end%>

<div class="text-center">
       <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                     <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                     <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                     <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                     <div class="carousel-item active">
                            <%= image_tag "tequeños.jpg", class: "d-block w-100 carousselimg" %>
                     </div>
                     <div class="carousel-item">
                            <%= image_tag "cookiecalidad.jpg", class: "d-block w-100 carousselimg" %>
                     </div>
                     <div class="carousel-item">
                            <%= image_tag "browniecalidad.jpg", class: "d-block w-100 carousselimg" %>
                     </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                     <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                     <span class="sr-only">Next</span>
              </a>
       </div>
</div>

<!-- INFORMACION GENERAL DEL LOCAL -->
<div class="my-5 container" id="info">
       <div class="row">
              <div id="local" class="my-lg-5 col-lg-7 col-md-5 col-sm-12 col-12">
                     <h3 class="text-center mb-4">Sobre el local</h3>
                     <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis sit quaerat architecto adipisci, <br> velit obcaecati laborum aliquam facere cumque harum magnam aut inventore amet exercitationem tenetur vero <br>
                     impedit asperiores? Fugit!</p>
              </div>
              <div id="sobremi" class="my-lg-5 col-lg-4 col-md-5 col-sm-12 col-12">
                     <h3 class="text-center mb-4">Sobre mi</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ipsam sed corporis vel laboriosam possimus natus dolores doloremque unde quod fugiat, animi fugit consequatur sapiente rerum. Ducimus facilis corrupti obcaecati!</p>
              </div>
       </div>
</div>

<!-- Catalogo -->
<div class="listadoprod" id="catalogo">
       <h1 class="text-center text-white">Listado de productos</h1>
</div>

<% @products.each do |product| %>

       <div class="container product my-5">
              <div class="row">
                     <a href="/products/<%=product.id%>"><%= image_tag product.product, class: "productimage my-lg-5 d-inline"  if product.product.attached?  %></a>
                     <div class="col-lg-7 d-inline mx-lg-5 col-md-12 py-md-4">  
                            <h3 class="text-center mb-4 product-title my-lg-4"><%= product.name %></h3>
                            <p><%= product.description %></p>
                            <p> <strong>Precio:</strong><%= product.price %></p>
                            <p> <strong>cantidad de likes:</strong><%= product.likes.count %></p>
                            <% if user_signed_in? %>
                                   <%= form_for :cart, url: cart_path, method: :put do |f| %>
                                          <%= f.hidden_field :product_id, value: product.id %>
                                          <%= f.hidden_field :quantity, value: 1 %>
                                          <%= f.submit "Añadir al carrito", class: "buttoncart inline btn btn-success" %>
                                   <%end%>
                                   <% pre_like = product.likes.find { |like| like.user_id == current_user.id} %>
                                          <% if pre_like %>
                                                 <%= link_to '<h5 class="fas fa-star"></h5>'.html_safe, product_like_path(product.id, pre_like.id), method: :delete, class: "buttonlike inline btn btn-light" %>
                                          <% else %>
                                                 <%= link_to '<h5 class="far fa-star"></h5>'.html_safe, product_likes_path(product.id), method: :post, class: "buttonlike inline btn btn-light"%>
                                          <% end %>
                            <% else %>
                                   <p class="buttoncart">Si deseas comprar primero debes loguearte</p>
                            <%end%>
                     </div>
              </div>
       </div>

<%end%>


<div class="listadoprod text-center" >
       <h1 class="text-white">Contactame</h1>
</div>
<div id="contactame" class="py-5 my-4">
       <div class="my-5 text-center container">
              <p class="mt-5">¿Buscas un servicio más especializado?</p>
              <strong class="mb-5">¡No dudes en contactarme!</strong>
       </div>
       <% if user_signed_in? %>
       <div class="my-5 container">
              <%= form_with(url: contacts_path, local: true) do |f| %>
                     <%= f.hidden_field :user_id, value: current_user.id %>
                     <div class="field">
                            <%= f.label :email, "Escriba su correo electronico" %> <br>
                            <p class="form-text text-muted">Si su correo electronico es le mismo que aparece en la barra omita el paso.</p>
                            <%= f.email_field :email, value: current_user.email, class: "form-control" %>
                     </div>
                     <div class="field">
                            <%= f.label :text, "Detalle las especificaciones de su pedido" %> <br>
                            <%= f.text_field :text , class: "form-control", style: "height: 100px"%>
                     </div>
                     <div class="text-right">
                            <%= f.submit "Enviar", class: "btn btn-light" %>
                     </div>
              <% end %>
       </div>
       <% else %>
              <h3 class="text-center my-5">Si deseas un un servicio mas especializado primero debes logearte</h3>
       <% end %>
</div>


