<br>
<div class="container">
<%= image_tag "Logo.jpg", id: "logo" %>
</div>

<div id="instagram">
       <i class="fab fa-instagram fa-2x"></i>
</div>

<% if user_signed_in? %>
       <% if current_user.admin == true %>
              <div>
              <p>¡Hola! Bienvenido administrador <%= current_user.name %></p>
              <%= link_to "Panel de control", dashboard_path %>
              </div>
       <%end%>
<%end%>

<!--CAROUSEL -->
<div id="carousselbg">
       <div id="carouselExampleIndicators" class="carousel slide container" data-ride="carousel">
              <ol class="carousel-indicators">
                     <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                     <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                     <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
              </ol>
              <div class="carousel-inner">
                     <div class="carousel-item active">
                            <%= image_tag "tequeños.jpg", class: "d-block w-100 carousselimg" %>
                     </div>
                     <div class="carousel-item">
                            <%= image_tag "palmeritas.jpg", class: "d-block w-100 carousselimg" %>
                     </div>
                     <div class="carousel-item">
                            <%= image_tag "golfeado.png", class: "d-block w-100 carousselimg" %>
                     </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                     <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                     <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                     <span class="sr-only">Next</span>
              </a>
       </div>
</div>

<!-- INFORMACION GENERAL DEL LOCAL -->
<div class="my-5">
       <div id="local" class="my-5">
              <h3 class="text-center mb-4">Sobre el local</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis sit quaerat architecto adipisci, <br> velit obcaecati laborum aliquam facere cumque harum magnam aut inventore amet exercitationem tenetur vero <br>
              impedit asperiores? Fugit!</p>
       </div>
       <div id="sobremi" class="my-5">
              <h3 class="text-center mb-4">Sobre mi</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro ipsam sed corporis vel laboriosam possimus natus dolores doloremque unde quod fugiat, animi fugit consequatur sapiente rerum. Ducimus facilis corrupti obcaecati!</p>
       </div>
</div>

<!-- Catalogo -->
<div class="divisores">
       <h1 class="text-center text-white">Listado de productos</h1>
</div>

<% @products.each do |product| %>

       <div class="product my-5">
              <div class="container">
                     <%= image_tag product.product, class: "productimage" %>
                     <div class="infoproduct">  
                            <h3 class="text-center mb-4"><%= product.name %></h3>
                            <p class="p-description"><%= product.description %></p>
                            <p> <strong>Precio:</strong><%= product.price %></p>
                            <%= form_for :cart, url: cart_path, method: :put do |f| %>
                                   <%= f.hidden_field :product_id, value: product.id %>
                                   <%= f.hidden_field :quantity, value: 1 %>
                                   <%= f.submit "Añadir al carrito", id: "buttoncart" %>
                            <%end%>
                     </div>
              </div>
       </div>

<%end%>