<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field my-4">
    <%= form.label :product, "Imagen del producto" %> <br>
    <%= form.file_field :product %>
  </div>

  <div class="field my-4">
    <%= form.label :name, "Nombre del producto" %> <br>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="field my-4">
    <%= form.label :description, "Descripcion del producto" %> <br>
    <%= form.text_area :description, class: "form-control", style: "height: 100px" %>
  </div>

  <div class="field my-4">
    <%= form.label :price, "Precio del producto" %> <br>
    <%= form.number_field :price, class: "form-control" %>
  </div>

  <div class="actions my4">
    <%= form.submit "Submit", class: "btn btn-success" %>
  </div>
<% end %>
