<!DOCTYPE html>
<html>
  <head>
    <title>Guarapita</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/87a8e7b189.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <%= render "shared/navbar" %>
      <div class="container">
      <%= render 'shared/message', message: notice, type: 'success' if notice %>
      <%= render 'shared/message', message: alert, type: 'danger' if alert %>
      </div>
      
      <%= yield %>

  </body>
</html>
