<!DOCTYPE html>
<html>
  <head>
    <title>Guarapita</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render "layouts/navbar" %>
    <div class="container mt-5">
      <p class="notice mt-5"><%= notice %></p>
      <p class="alert mt-5"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
