<!DOCTYPE html>
<html>
  <head>
    <title>Guarapita</title>
    <meta name="description" content="Página comercial guarapita dulce">
	  <meta name="author" content="Deyna Contreras">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'logo_sinfondo.png' %>
    <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" data-mutate-approach="sync"></script>
  </head>

  <body>
    <div class="container">
      <%= render 'shared/message', message: notice, type: 'success' if notice %>
      <%= render 'shared/message', message: alert, type: 'danger' if alert %>
    </div>

    <%= yield %>
    
    <div class="mt-5">
      <%= render "shared/footer" %>
    </div>
    
  </body>
</html>
