<!DOCTYPE html>
<html>
  <head>
    <title>Guarapita</title>
    <meta name="description" content="Página comercial guarapita dulce">
	  <meta name="author" content="Deyna Contreras">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/87a8e7b189.js" crossorigin="anonymous"></script>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag 'logo_sinfondo.png' %>
  </head>

  <body>
    <div class="container">
      <%= render 'shared/message', message: notice, type: 'success' if notice %>
      <%= render 'shared/message', message: alert, type: 'danger' if alert %>
    </div>

    <%= yield %>
    
    <%= render "shared/footer" %>
  </body>
</html>
